html{
    background-color: black;
    color: bisque;
}
.structure-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
body{
    overflow: hidden;
}

/* Header */

.header{
    grid-column-start: 1;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 500%;
    display: flex;
    justify-content: center;
}

header>p {
    font-family: 'Cinzel', serif;
    margin-top: -66px;
    margin-bottom: 80px;
    margin-left: 100px;
}

p{
    font-family: 'Baskervville', serif;
}

.text_baton {
    width: 404px;
    padding: 20px;
    margin-left: 95px;
    border-radius: 5px;
    color: black;
    background-color: #ffe3c7;
}

/* Image */

figure {
    margin-top: -48px;
    display: flex;
    justify-content: center;
}

#pointe {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 23px solid #ffe3c7;
    margin-left: 373px;
}

h3{
    font-family: 'Baskervville', serif;
    margin: 0px;
}



/* Colonne jeu */

.partie_jeu {
    background-image: url('../media/fondbois.jpg');
    grid-column-start: 2;
    background-size: cover;
    height: 964px;
    margin: -7px;
}

h2 {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.choix_baton {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 650px;
}

.choix_baton>div>label {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #ffe3c7;
    border-radius: 6px;
    width: 101px;
    justify-content: flex-start;
}

.choix_baton>div>input{
    display: none;
}

#r1>ul>li{
    height: 90px;
    width: 8px;
    display: block;
    margin: 15px 10px;
    background: rgb(199,145,116);
    background: linear-gradient(90deg, rgba(199,145,116,1) 0%, rgba(171,115,85,1) 3%, rgba(163,105,74,1) 30%, rgba(152,93,60,1) 40%, rgba(85,37,11,1) 100%);
    border-radius: 6px;
}
#r1>ul{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

#r2>ul>li{
    height: 90px;
    width: 8px;
    display: block;
    margin: 15px 10px;
    background: rgb(199,145,116);
    background: linear-gradient(90deg, rgba(199,145,116,1) 0%, rgba(171,115,85,1) 3%, rgba(163,105,74,1) 30%, rgba(152,93,60,1) 40%, rgba(85,37,11,1) 100%);
    border-radius: 6px;
}
#r2>ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-left: 25px;
}
#r3>ul>li{
    height: 90px;
    width: 8px;
    display: block;
    margin: 15px 10px;
    background: rgb(199,145,116);
    background: linear-gradient(90deg, rgba(199,145,116,1) 0%, rgba(171,115,85,1) 3%, rgba(163,105,74,1) 30%, rgba(152,93,60,1) 40%, rgba(85,37,11,1) 100%);
    border-radius: 6px;
}
#r3>ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-left: 9px;
}
.choix_baton>div>input[type="radio"]+label:hover{
    background-color: #a21c27;
    cursor: pointer;
}
.choix_baton>div>input[type="radio"]:checked+label{
        background-color: black;
        border-radius: 6px;  
}


/* Jeu interactif */

.jeubaton {
    grid-column-start: 2;
    display: block;
    margin-left: 15%;
    
}

#mikado {
    display: flex;
    list-style: none;
    align-items: flex-start;
    background-image: url("../media/tapis3.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 739px;
    margin-top: 15%;
    border-radius: 5px;
    padding: 25px;
}

 #mikado li{
    height: 150px;
    width: 12px;
    display: block;
    margin: 15px 10px;
    background: rgb(199,145,116);
    background: linear-gradient(90deg, rgba(199,145,116,1) 0%, rgba(171,115,85,1) 3%, rgba(163,105,74,1) 30%, rgba(152,93,60,1) 40%, rgba(85,37,11,1) 100%);
    border-radius: 6px;
    grid-column-start: 2;
    /*animation-duration: 2s;*/
    animation-iteration-count: 1;
    position: relative;
 }

/* Animation baton */

@keyframes mikado_start1 {
    0% {opacity: 0%; top: -100px ;}
    5% {opacity: 0%; top: 100px ;}
    30% {opacity: 30%; top: -70px; }
    50% {background-color: rgb(124, 72, 42);box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0)}
    70% {opacity: 90%; background-color: rgb(255, 255, 255);
        -webkit-box-shadow: -5px -5px 37px 6px rgba(255, 240, 157, 0.3); 
        box-shadow: -5px -5px 37px 6px rgba(255, 240, 157, 0.3);}
    100% {opacity: 100%; top: 0px;background-color: rgb(124, 72, 42); }
    
}

@keyframes mikado_start2 {
    0% {opacity: 0%; top: 100px ;}
    5% {opacity: 0%; top: 100px ;}
    30% {opacity: 30%; top: 70px; }
    50% {background-color: rgb(124, 72, 42);box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);}
    70% {opacity: 90%; background-color: rgb(255, 255, 255);
        -webkit-box-shadow: -5px -5px 37px 6px rgba(255, 240, 157, 0.3); 
box-shadow: -5px -5px 37px 6px rgba(255, 240, 157, 0.3);}
    100% {opacity: 100%; top: 0px; background-color: rgb(124, 72, 42);}
    
}


.play{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.play>#pointe {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 23px solid #ffe3c7;
    margin-left: -386px;
    margin-top: -61px;
}

#coups_adverse{
    width: 404px;
    padding: 20px;
    margin-left: 95px;
    border-radius: 5px;
    color: black;
    background-color: #ffe3c7;
}

#maitreDefaite{
    display: none;
}

/* ANIMATION H1 */


/* CHOIX NIVEAU */

#level {
    background-color: #a21c27;
    z-index: 1;
    position: absolute;
    height: 964px;
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
    right: 0%;
   
}

#level>label {
    font-family: 'Cinzel', serif;
    font-size: 22px;
    margin-bottom: 40px;
}

#level>input{
    display: none;
}



#level>input[type="radio"]+label:hover {
    text-shadow: 0px 1px 1px #ffffff61, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
    cursor: pointer;
}

#level>input[type="radio"]:checked+label{
    color: black;
    text-shadow: none;
    font-weight: bolder;
    
}

button {
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Cinzel';
}
button:hover{
    cursor: pointer;
}

